<div class="container">

    <ul class="list-group">
        <li class="list-group-item active">Lista de nombres en mayúscula</li>
        <span *ngFor="let nombre of nombresMayuscula">
            <li class="list-group-item">{{nombre}}</li>
        </span>
    </ul>
    <br>

    <ul class="list-group">
        <li class="list-group-item active">Lista de nombres en minúscula</li>
        <span *ngFor="let nombre of nombresCorregidos">
            <li class="list-group-item">{{nombre}}</li>
        </span>
    </ul>
    <br>

    <ul class="list-group">
        <li class="list-group-item active">Suma de los teléfonos</li>
        <li class="list-group-item">{{sumaTelefonos}}</li>
    </ul>
    <br>

    <ul class="list-group">
        <li class="list-group-item active">Lista de nombre corregidos pero usando from y pipe</li>
        <span *ngFor="let nombre of nombresCorregidosObservable">
            <li class="list-group-item">{{nombre}}</li>
        </span>
    </ul>
    <br>

    <ul class="list-group">
        <li class="list-group-item active">Lista de emails de clientes con estado true</li>
        <span *ngFor="let email of emails">
            <li class="list-group-item">{{email}}</li>
        </span>
    </ul>
    <br>
    
    <ul class="list-group">
        <li class="list-group-item active">Lista de cédilas de clientes con pasaporte</li>
        <span *ngFor="let customer of customersDocument">
            <li class="list-group-item">{{customer}}</li>
        </span>
    </ul>
    <br>
</div>
