<p>
  <mat-toolbar>

    <span>e-Bank</span>
    <span class="example-spacer"></span>

    <button class="btn btn-danger" routerLink="login/main">Main page</button>
    <button class="btn btn-success" routerLink="customer/customer">User</button>
    <button class="btn btn-primary" routerLink="account/list-accounts">Accounts</button>
    <button class="btn btn-secondary" routerLink="deposit/deposit">Deposit</button>
    <button class="btn btn-warning" routerLink="transfer">Transfer</button>

    
    <app-sing-out></app-sing-out>

  </mat-toolbar>
</p>
