<p>
  <mat-toolbar>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <span>My App</span>
    <span class="example-spacer"></span>

    <button class="btn btn-primary" routerLink="account/list-accounts">Your accounts</button>
    <button class="btn btn-secondary" routerLink="deposit/deposit">Deposit</button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    
    <app-sing-out></app-sing-out>

  </mat-toolbar>
</p>
